{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    {% if user.is_authenticated %}
        <div id="body_container">

            <div id="body_header">
                <h1>All Posts</h1>
            </div>

            <div id="new_post_container">
                <form id="new_post_form">
                    <div id="post_form" class="form-group">
                        <label for="placeholder" class="form-label"><h4>New Post</h4></label>
                        <textarea id="post-content" class="form-control" ></textarea>
                        <br>
                        <input type="submit" class="btn btn-primary">
                     </div>
                </form>
            </div>

            <div id="posts_container">
            </div>

            <div id="pagination_container">
                <!-- Add in pagination buttons using bootstrap -->


                <nav aria-label="Posts Navigation">
                    <ul class="pagination">
                        <li id="previous_button"class="page-item"><button class="page-link">Previous</button></li>  
                        <div id="numbered_buttons">
                        </div>
                        <li id="next_button"class="page-item"><button class="page-link">Next</button></li>
                    </ul>
                  </nav>
            </div>
        </div> 
    {% endif %}


{% endblock %}

{% block script %}
    <script src="{% static 'network/javascript.js' %}"></script>
{% endblock %}