{% extends "network/layout.html" %}

{% block body %}
   <div id="body_container">
        <div id="body_header">
            <h1>All Posts</h1>
        </div>
        <div id="new_post_container">
            <form>
                <div id="post_form" class="form-group">
                    <label for="placeholder" class="form-label"><h4>New Post</h4></label>
                    <textarea class="form-control"></textarea>
                    <br>
                    <input type="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
   </div> 
{% endblock %}